<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="<%= require('./assets/favicon.ico') %>">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
        type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet" />
    <title>Сиделка в Гомеле, потранажная служба</title>
    <meta name="description" content="Патронажная служба  г. Гомеля «Забота о близких» помогает семьям в сложных ситуациях с пожилыми или больными людьми, обеспечивая им полноценный уход, моральную поддержку и заботу.">
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="#!">
                <span>Забота о Близких</span>
                <span>Патронажная служба</span>
            </a>
            <div class="menu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#services">Услуги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">О нас</a>
                    </li>
                </ul>
                <a class="btn btn-primary" href="#contact">Контакты</a>
            </div>

        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center text-white">
                        <!-- Page heading-->
                        <h1 class="mb-4">Сиделка в Гомеле. Профессиональные услуги полноценного ухода за пожилыми и больными людьми на дому
                        </h1>
                        <p class="fs-5">Мы помогаем людям заботиться о своих близких</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Icons Grid-->
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-arrow-repeat m-auto text-primary"></i></div>
                        <h3>Более 10 лет</h3>
                        <p class="lead mb-0">Служения пациенту и поддержание стабильного качества патронажной помощи</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-shield-check m-auto text-primary"></i></div>
                        <h3>Вы защищены как клиент</h3>
                        <p class="lead mb-0">Наша служба работает официально. Заключаем двусторонний договор.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-headset m-auto text-primary"></i></div>
                        <h3>Мы доступны 24/7</h3>
                        <p class="lead mb-0">Персональный менеджер всегда на связи.
                            Круглосуточно заботимся о Вас на каждом этапе сотрудничества.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Image Showcases-->
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-6 order-lg-2 text-white showcase-img"
                    style="background-image: url(<%= require('./assets/img/sidelka-3.jpeg') %>)"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Честность</h2>
                    <p class="lead mb-0">Мы честны с клиентами и между собой, мы НЕ навязываем услуги.
                    </p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 text-white showcase-img"
                    style="background-image: url(<%= require('./assets/img/sidelka-2.jpg') %>)"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Помощь</h2>
                    <p class="lead mb-0">
                        Предоставим Вашему близкому качественную помощь и заботу.

                    </p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 order-lg-2 text-white showcase-img"
                    style="background-image: url(<%= require('./assets/img/sidelka-5.jpeg') %>)"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Безопасность </h2>
                    <p class="lead mb-0">Проводим детальное интервью с сиделкой, проверяем рекомендации.
</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonials-->
    <section class="testimonials bg-light" >
        <div class="container">
                <h2 class="mb-5 text-center" id='services'>Услуги</h2>
                <div class="row gy-4 justify-content-md-center" >
                    <div class="col-md-5">
                      <div class="card" >
                        <div class="card-body">
                            <h5 class="card-title">Сиделка для пожилого человека</h5>
                            <p class="card-text">Сиделка позаботится о пожилом человеке, который не в состоянии обслужить себя самостоятельно.</p>
                        </div>
                        </div>

                    </div>
                    <div class="col-md-5">
                      <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">На выходные дни</h5>
                            <p class="card-text">Услуга, которая может потребоваться на дом или в больницу. Патронажный специалист возьмет на себя заботу о Вашем близком человеке.</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                      <div class="card" >
                        <div class="card-body">
                            <h5 class="card-title">Приходящая сиделка</h5>
                            <p class="card-text">На любое количество часов, день или ночь. Когда не требуется круглосуточный уход, приходящая сиделка — оптимальный выбор.</p>
                        </div>
                        </div>

                    </div>
                    <div class="col-md-5">
                      <div class="card" >
                        <div class="card-body">
                            <h5 class="card-title">Приходящая сиделка</h5>
                            <p class="card-text">На любое количество часов, день или ночь. Когда не требуется круглосуточный уход, приходящая сиделка — оптимальный выбор.</p>
                        </div>
                        </div>

                    </div>
                    <div class="col-md-5">
                      <div class="card" >
                        <div class="card-body">
                            <h5 class="card-title">На несколько часов</h5>
                            <p class="card-text">Находясь на учёбе или работе, Вы будете уверены в том, что близкий человек под присмотром, накормлен и ухожен.</p>
                        </div>
                        </div>

                    </div>
                    <div class="col-md-5">
                      <div class="card" >
                        <div class="card-body">
                            <h5 class="card-title">Сиделка – компаньонка</h5>

                            <p class="card-text">Организует досуг для пожилого или больного человека.</p>
                        </div>
                        </div>

                    </div>
                </div>
        </div>
    </section>
        <section class="testimonials about-us bg-white " >
         <div class="container">
            <h2 class="mb-3 text-center" id='about'>О нас</h2>
            <div class="row">
                <div class='col-md-12'>
                <p>Патронажная служба "Забота о близких" оказывает профессиональные услуги полноценного ухода за пожилыми и больными людьми на дому в г. Гомеле. Сиделки службы - это квалифицированные сиделки с большим опытом работы, которые добросовестно выполняют процедуры, назначения врачей, осуществляют профилактику и лечение пролежней, а та же проведут гигиенические процедуры и уход за престарелыми (пожилыми) и больными людьми.</p>
<p>Найти  сиделку для больного или к пожилому человеку — задача поистине непростая, и именно ее и помогает решить патронажная служба «Забота о близких» . Обращаясь к нам, вы найдете сиделку без посредника с гарантией безопасности для вашего близкого, огораживая свою семью от неправомерных действий частных сиделок. Все наши сиделки имеют полный пакет документов.</p>
<p>Главным преимуществом сотрудничества с патронажной службой «Забота о близких»  являются стабильность и уверенность в завтрашнем дне: стоимость договора не зависит от внешних факторов, а если сиделка вдруг заболела или ей нужно уехать, наша служба в течение одного дня предоставит замену абсолютно бесплатно!</p>
<p>Сиделки патронажной службы «Забота о близких»  осуществляют уход за больными и престарелыми (пожилыми) людьми. В нашей службе вы можете подобрать сиделку на дом, сиделку к пожилому человеку, сиделку к лежачему больному, сиделку к инвалиду, сиделку с проживанием или без проживания в Гомеле. Патронажная служба «Забота о близких»  очень тщательно отбирает сиделок в свой штат, ведь работа сиделкой имеет свою специфику.</p>
<p>Все сиделки имеют разную степень подготовки в зависимости от поставленных задач. Сиделки с медицинским образованием чаще всего требуются к тяжелым больным, в т.ч. к лежачим больным, так как в их обязанности могут входить внутривенные и внутримышечные уколы, постановка капельниц и клизм. Если медицинские манипуляции выполнять не требуется, то достаточно присмотра сиделки с опытом. </p>
<p>Будьте уверены, обратившись в патронажную службу «Забота о близких», все ваши заботы по поиску профессиональной сиделки и чуткой помощнице останутся позади!</p>
</div> 
              
            </div>
        </div>
       
    </section>
     <section class="testimonials contact bg-light">
                    <h2 class="mb-5 text-center" id='contact'>Контакты</h2>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class='col-md-3'>
                <p class='m-0 align-items-center d-flex justify-content-center'> <i class="m-2 bi bi-envelope text-black fs-2"></i><a class='text-black' href="mailto:sidelkavdom.by@yandex.by">sidelkavdom.by@yandex.by</a></p>
                </div>
                  <div class='col-md-3'>
                <p class='m-0 align-items-center d-flex justify-content-center'> <i class="m-2 bi bi-building text-black fs-2"></i>Гомель ул. Жарковского 24</p>
                </div>

                <div class='col-md-3'>
                  <p class='m-0  align-items-center d-flex justify-content-center'>
                <i class="bi bi-telephone text-black fs-2 m-2"></i><a class='text-black' href="tel:+375293282328">+375 (29) 328-23-28</a>
               
               </p></div>
               
            </div>
            <div style="text-align: center;">
                <ul class="list-inline contact-list mt-4">
                    <li class="list-inline-item">
                        <a href="whatsapp://send?phone=+375333288787" target="_blank">
                            <i class="fa-brands fa-whatsapp fa-2xl"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="tg://resolve?domain=+375293282328" target="_blank">
                            <i class="fa-brands fa-telegram  fa-2xl"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="viber://chat?number=+375293282328" target="_blank">
                            <i class="fab fa-viber fa-2xl"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/zabota_oblizkikx/" target="_blank">
                            <i class="fa-brands fa-instagram fa-2xl"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </section>
    <!-- Call to Action-->
    <section class="call-to-action text-white text-center">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <h2 class="mb-4">Качество жизни и безопасность Ваших близких - наши главные приоритеты </h2>
                </div>
            </div>
        </div>
    </section>
     
    <!-- Footer-->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="#services">Услуги</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="#about">О нас</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="#contact">Контакты</a></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; 2022. Забота о близких. Все права защищены.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                   
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
</body>

</html>